<div class="p-grid">
    
</div>
<div class="p-grid">
    <div class="p-col-2">
        <div class="p-col-12">
            <label class="p-col-12">Search by:</label>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p-radioButton class="ui-g-6" name="group1" value="keyword" label="Keyword" [(ngModel)]="searchCriteria.Type" inputId="opt1"></p-radioButton>
                    <input type="text" pInputText class="ui-g-6" [ngModel]="searchCriteria.Criteria" *ngIf="searchCriteria.Type === 'keyword'"/>
                </div>
                <div class="ui-g-12">
                    <p-radioButton class="ui-g-6" name="group1" value="language" label="Language" [(ngModel)]="searchCriteria.Type" inputId="opt2">
                    <p-dropdown class="ui-g-6" [options]="languageOptions" [(ngModel)]="searchCriteria.Criteria" *ngIf="searchCriteria.Type === 'language'"></p-dropdown>
                </div>
                
                <div class="ui-g-12"><p-radioButton name="group1" value="genre" label="Genre" [(ngModel)]="selectedSearch" inputId="opt3"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="group1" value="channel" label="Channel" [(ngModel)]="selectedSearch" inputId="opt4"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="group1" value="schedule" label="Schedule" [(ngModel)]="selectedSearch" inputId="opt5"></p-radioButton></div>
            </div>
        </div>
    </div>
    <div class="p-col-10">
        <p-table [value]="shows" [columns]="columns" [loading]="loadingShows" dataKey="ID" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20,{showAll:'All'}]">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>
                        <img [src]="rowData.image" alt="" class="my-image">
                    </td>
                    <td>
                        {{rowData.name}}
                    </td>
                    <td>
                        {{rowData.genres}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
